.events-wrapper{
   display: flex;
   max-width: 1280px;
   width: 100%;
   height: 1552px;
   flex-direction: column;
   align-items: center;
   @media(max-width: 768px){
      max-width: 768px;
      width: 100%;
      height: 1858px;
   }
   @media(max-width: 320px){
      max-width: 320px;
      width: 100%;
      height: 1104px;
   }
   .events-container{
      display: flex;
      max-width: 1170px;
      width: 100%;
      margin-top: 200px;
      height: 1248px;
      flex-direction: column;
      @media(max-width: 768px){
         max-width: 700px;
         width: 100%;
         height: 1658px;
         margin-top: 88px;
      }
      @media(max-width: 320px){
         max-width: 280px;
         width: 100%;
         height: 1034px;
         margin-top: 70px;
         align-items: center;
      }
      .events-items-container{
         display: flex;
         width: 100%;
         height: 1144px;
         flex-direction: column;
         margin-top: 58px;
         justify-content: space-between;
         @media(max-width: 768px){
            height: 1594px;
            margin-top: 48px;
         }
         @media(max-width: 320px){
            height: 922px;
            margin-top: 40px;
         }
         .events-item{
            display: flex;
            width: 100%;
            height: 520px;
            justify-content: space-between;
            align-items: center;
            @media(max-width: 768px){
               flex-direction: column;
               align-items: flex-start;
               height: 765px;
            }
            @media(max-width: 320px){
               height: 431px;
            }
            .item-picture{
               display: flex;
               max-width: 670px;
               width: 100%;
               height: 100%;
               @media(max-width: 768px){
                  max-width: 700px;
                  width: 100%;
               }
               @media(max-width: 320px){
                  height: 210px;
               }
            }
            img{
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
            .item-info-container{
               display: flex;
               width: 100%;
               max-width: 370px;
               height: 228px;
               flex-direction: column;
               @media(max-width: 768px){
                  max-width: 460px;
                  height: 201px;
                  margin-top: 44px;
               }
               @media(max-width: 320px){
                  max-width: 280px;
                  width: 100%;
                  margin-top: 20px;
                  height: 201px;
               }
               .item-date{
                  display: flex;
                  flex-direction: row;
                  max-width: 200px;
                  width: 100%;
                  justify-content: space-between;
                  align-items: center;
                  @media(max-width: 320px){
                     max-width: 100%;
                  }
                  .event-type{
                     color: #687480;
                     font-size: 14px;
                     font-family: IBM Plex Sans;
                     font-weight: 500;
                     line-height: 14px;
                     word-wrap: break-word;
                     @media(max-width: 320px){
                        font-size: 16px;
                        line-height: 16px;
                     }
                  }
                  .event-date{
                     color: #1A5A4C;
                     font-size: 14px;
                     font-family: IBM Plex Sans;
                     font-weight: 700;
                     line-height: 21px;
                     word-wrap: break-word;
                     @media(max-width: 320px){
                        font-size: 16px;
                        line-height: 24px;
                     }
                  }
               }
               .item-title{
                  display: flex;
                  flex-direction: row;
                  color: #0F0E08;
                  font-size: 36px;
                  font-family: Montserrat;
                  font-weight: 400;
                  line-height: 36px;
                  word-wrap: break-word;
                  margin-top: 30px;
                  align-items: center;
                  @media(max-width: 320px){
                     max-width: 280px;
                     width: 100%;
                     font-size: 28px;
                     line-height: 28px;
                     margin-top: 15px;
                  }
               }
               img{
                  margin-left: 20px;
                  width: 12px;
                  height: 12px;
                  @media(max-width: 320px){
                     width: 10px;
                     height: 10px;
                  }
               }
               .item-text{
                  margin-top: 15px;
                  color: #4E4E4E;
                  font-size: 16px;
                  font-family: IBM Plex Sans;
                  font-weight: 300;
                  line-height: 24px;
                  word-wrap: break-word;
               }
            }
         }
      }
      .events-title{
         color: #0F0E08;
         font-size: 48px;
         font-family: Montserrat;
         font-weight: 700;
         line-height: 48px;
         word-wrap: break-word;
         @media(max-width: 320px){
            text-align: center;
            font-size: 36px;
            line-height: 36px;
            max-width: 200px;
            width: 100%;
         }
      }
   }
}